@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary: steelblue;
  --color-secondary: lightgreen;
  --color-tertiary: #000;
  --color-text: #fff;
}

html,
body {
  font-family: "Mulish", sans-serif;
}
a {
  text-decoration: none;
}

.full-section-header {
  min-height: calc(100vh - 130px);
  display: flex;
  align-items: center;
}

.form-control {
  border-radius: 25px;
  height: 48px;
}

.form-control:focus {
  box-shadow: none !important;
}

.btn-primary {
  height: 48px;
  border-radius: 25px;
  background-color: var(--color-secondary) !important;
  color: var(--color-text);
  border: 1px solid var(--color-secondary) !important;
  font-weight: bold;
  min-width: 175px;
  
}

.btn-primary:hover {
  background-color: #fff !important;
  color: var(--color-secondary) !important;
  transition: all 0.3s ease;
}
